{% extends 'base.html' %}
{% block content %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<span class="login100-form-title p-b-51">
					Welcome!!<br>
				</span>

				<!-- Part for file import -->
				<form action="/import" method="post" enctype="multipart/form-data">
					<input type="file" name="file" accept=".csv,.xlsx">
					<button type="submit">Import File</button>
				</form>
				<!-- End of import part -->

				<!-- Start of download part -->
				<div class="container-login100-form-btn m-t-17">
					<a class="login100-form-btn" href="/export">Download Data</a>
				</div>
				<!-- End of download part -->

				<div class="container-login100-form-btn m-t-17">
					<a class="login100-form-btn" href="/logout">Logout</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
