<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard - Featherstill Inc.</title>
    
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">	
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="dashboard-container">
       

	<header class="dashboard-header">
		<nav class="dashboard-nav">
			<img src="{{ url_for('static', filename='images/icons/Logo.png') }}" alt="Featherstill Inc Logo" class="logo">
			<h1 class="company-name">FETHERSTILL.Inc</h1>
			<div class="nav-items">
				<a href="javascript:void(0)" id="upload-link" class="nav-item"><i class="fas fa-cloud-upload-alt"></i> Upload</a>
				<form id="file-upload-form" action="/import" method="post" enctype="multipart/form-data" style="display:none;">
    				<input type="file" id="file-upload" name="file" accept=".csv,.xlsx" onchange="document.getElementById('file-upload-form').submit();">
				</form>
				<a href="/export" class="nav-item">
					<i class="fas fa-download"></i> Download
				</a>
				<a href="/logout" class="nav-item">
					<i class="fas fa-sign-out-alt"></i> Logout
				</a>
			</div>
		</nav>
	</header>
			
			<div class="filter-section">
			  <form action="/" method="get">
				<select name="filter" id="filter-dropdown" class="filter-dropdown" multiple>
				  <option value="Iteration">Iteration</option>
				  <option value="CPUTime">CPU Time</option>
				  <option value="PhysTime">Physical Time</option>
				  <option value="Travels">Travels</option>
				  <option value="Value">Value</option>
				  <option value="AvValue">Average Value</option>
				  <option value="MinValue">Min Value</option>
				  <option value="MaxValue">Max Value</option>
				  <option value="Delta">Delta</option>
				  <option value="Criteria">Criteria</option>
				  <option value="PrevAvRefValue">Previous Average Reference Value</option>
				  <option value="Progress">Progress</option>
				  <option value="CriteriaType">Criteria Type</option>
				  <option value="CriteriaVarType">Criteria Variable Type</option>
				  <option value="CriteriaPercentage">Criteria Percentage</option>
				</select>
				<button type="submit" class="filter-button">Apply Filters</button>
			  </form>
			</div>
		
			
        
		
		<div class="view-data-section">
        <input type="checkbox" id="toggle-data" style="display:none;">
        <label for="toggle-data" class="view-data-button">Toggle Data View</label>
		
        <div class="data-table" id="data-table">
           <table>
				<thead>
					<tr>
						{% for header in selected_filters %}
						<th>{{ header }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for record in records %}
					<tr>
						{% for header in selected_filters %}
						<td>{{ record[header] }}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
        </div>
		</div>
	</div>
    </div>
	<div id="chart-container">
		<div class="chart">
			<canvas id="bar-chart"></canvas>
		</div>
		<div class="chart">
			<canvas id="pie-chart"></canvas>
		</div>
	</div>
	
	
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			loadBarChart();
			loadPieChart();
		});

		function loadBarChart() {
		$.getJSON('/data_analysis', function(data) {
			// Since static data works, let's prepare the dynamic data in the same format.
			var labels = [];
			var meanValues = [];

			// Assuming 'data' is the object with max, mean, median, min as properties.
			for (var key in data) {
				if (data.hasOwnProperty(key)) {
					labels.push(key);
					meanValues.push(data[key].CPUTime); // Just an example, choose an appropriate property.
				}
			}

			// Now use the prepared labels and meanValues to create a chart
			var ctx = document.getElementById('bar-chart').getContext('2d')
			var dynamicChart = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: labels, // ['max', 'mean', 'median', 'min']
					datasets: [{
						label: 'CPU Time',
						data: meanValues, // [maxValue, meanValue, medianValue, minValue]
						backgroundColor: 'rgba(54, 162, 235, 0.2)',
						borderColor: 'rgba(54, 162, 235, 1)',
						borderWidth: 1
					}]
				},
				options: {
					scales: {
						y: {
							beginAtZero: true
						}
					}
				}
			});
		}).fail(function(jqXHR, textStatus, errorThrown) {
			console.error("Error fetching data:", textStatus, errorThrown);
		});
		}
		function loadPieChart() {
			$.getJSON('/data_analysis', function(data) {
				var meanData = data.mean;
				var chartLabels = Object.keys(meanData);
				var chartValues = Object.values(meanData);

				var backgroundColors = chartLabels.map(function(label, index) {
					// This function will generate a color for each label
					var red = Math.floor((255 / chartLabels.length) * (index + 1));
					var green = Math.floor((255 / chartLabels.length) * (index + 1));
					var blue = Math.floor((255 / chartLabels.length) * (index + 1));
					return `rgba(${red}, ${green}, ${blue}, 0.6)`;
				});

				var ctxPie = document.getElementById('pie-chart').getContext('2d');
				var pieChart = new Chart(ctxPie, {
					type: 'pie',
					data: {
						labels: chartLabels,
						datasets: [{
							label: 'Mean Values',
							data: chartValues,
							backgroundColor: backgroundColors,
                    		borderColor: 'rgba(255,255,255,1)',
							borderWidth: 1
						}]
					},
					options: {
						responsive: true,
						plugins: {
							legend: {
								position: 'top',
							},
							title: {
								display: true,
								text: 'Mean Values Distribution'
							}
						}
					}
				});
			}).fail(function(jqXHR, textStatus, errorThrown) {
				console.error("Error fetching data:", textStatus, errorThrown);
			});
		}
	</script>
	<script>
		document.getElementById('upload-link').addEventListener('click', function() {
			document.getElementById('file-upload').click();
		});
	</script>
	
</body>
</html>


